.video-player {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.video-show {
  text-align: center;
}

.share-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.share-button button {
  font-size: large;
  padding: 0 15px;
}

.copied-message {
  background-color: #d1e6dd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  margin-top: 10px;
}