.video-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.video-item {
  margin: auto;
  width: 70%;
}

.thumbnail-image {
  width: 100%;
  height: 300px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.video-index {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-message {
  background-color: #d5d8d9;
  padding: 20px;
  width: 70%;
  text-align: center;
}
